#age {
    margin: 0 auto;
    width: 50%;
    background-color: brown;
    padding: 3rem 1.5rem;
    border-radius: 1rem;
}

#age > * {
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#age h1 {
    color: beige;
}

span {
    text-decoration: underline;
    color: antiquewhite;    
}